<ul class="nav navbar-nav pull-right">
        <li><button id='logout' ng-show="logoutV" class="nav-button" ng-click='vm.logout()'><i class="fa fa-sign-out"></i> Sing Out</button></li>
        <li><button id='acceder' ng-show="accederV" class="nav-button" ng-click="vm.showModalSignup()"><i class="fa fa-sign-in"></i> Acceder</button></li>
        <li><a id='profile' ng-show="profileV" href='' class="profile"><i class="fa fa-user"> Bienvenido: {{name}}</a></li>
        <li><img src="{{avatar}}" /></li>
</ul>
