<!-- footer -->
<div role="nombre de la aplicacion">

      <h4><a href="/" ><img class="logo" src="/images/findmenu_2.png"/></a></h4>
      <address role="address">GV Web Devenlopers<br>Ontinyent</address>

    <p class="copyright clear-float" role="copiright">
      <details>
        <summary>© findMenu. All Rights Reserved. Est. MMXVII</summary>
        Devoloped using:
        <div class="box_logos">
          <div class="column">
            <picture name="logo CSS3" alt="Imagen del logo de CSS3">
                <source media="(max-width: 456px)" srcset="../images/footer/css3-64.png">
                <source media="(min-width: 456px)" srcset="../images/footer/css3-128.png">
                <img src="../images/footer/css3-128.png" alt="Imagen del logo de CSS3">
            </picture>
          </div>
          <div class="column">
            <picture name="logo HTML5" alt="Imagen del logo de HTML5">
                <source media="(max-width: 456px)" srcset="../images/footer/html5-64.png">
                <source media="(min-width: 456px)" srcset="../images/footer/html5-128.png">
                <img src="../images/footer/html5-128.png" alt="Imagen del logo de HTML5">
            </picture>
          </div>
          <div class="column">
            <picture name="logo NodeJS" alt="Imagen del logo de NodeJS">
                <source media="(max-width: 456px)" srcset="../images/footer/nodejs-64.png">
                <source media="(min-width: 456px)" srcset="../images/footer/nodejs-128.png">
                <img src="../images/footer/nodejs-128.png" alt="Imagen del logo de NodeJS">
            </picture>
          </div>
          <div class="column">
            <picture name="logo Angular" alt="Imagen del logo de Angular">
                <source media="(max-width: 456px)" srcset="../images/footer/angular-64.png">
                <source media="(min-width: 456px)" srcset="../images/footer/angular-128.png">
                <img src="../images/footer/angular-128.png" alt="Imagen del logo de Angular">
            </picture>
          </div>
        </div>
      </details>
    </p>
</div>
