/* ==========================================================================
   Media query pantallas tamaño medio
   ========================================================================== */
/*  */
@media screen and (min-width: 456px) {
  /* ==========================================================================
     navegacion
     ========================================================================== */
  .logo{
      padding:0.5em;
  }
  nav{
      /* contenido justificado ocupando huecos */
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
  }
  nav li{
      display: inline-flex;
      padding: 0.25em;
  }
  nav.menu ul li {
      float: left;
      font-size: 2em;
      padding-top: 0.5em;
  }
/* ==========================================================================
   Css para el section
   ========================================================================== */
  section{
      background-color: #313b3d;
      padding: 0.5em;
  }
}
