/* Colores */
$color_amarillo: #FFB03B;
$color_blanco: #FFFFFF;
$color_gris: #999999;
$color_gris_claro: #dcdcdc;
$color_gris_oscuro: #313b3d;
$gris_oscuro_menu: #2E2E2E;
$color_verde: #37a000;
/* sizes */
$border_size: 2px;
$font_size: 1em;
$padding_size: 0.5em;
$padding_full: 1em;

@import "menus.css";

@import url('https://fonts.googleapis.com/css?family=Sarina');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* ==========================================================================
   LESS MIXINGS
   ========================================================================== */
    @mixin border-invisible($size) {
       border-color: transparent;
       border-bottom: $size solid $color_verde;
     }

/* ==========================================================================
   CSS general de la aplicacion "mobile first"
   ========================================================================== */
   html,
   body {
     display: flex;
     flex-direction: column;
     height: 100%;
   }

/* ==========================================================================
   Css para la barra de navegación principal
   ========================================================================== */
   header {
      flex: 0 0 auto;
      background-color: $color_gris_claro;
      padding-top: $padding_size;
    }

    nav {
      flex-direction: column;

      .menu {
          @include border-invisible(2px);
          background-color: $color_gris_oscuro;
          width: 100%;
          float: left; /* Desplazamos el nav hacia la izquierda */

          ul {
              list-style: none;
              -webkit-margin-before: 0em;
              -webkit-margin-after: 0em;
              overflow: hidden; /* Limpiamos errores de float */
              li {
                  float: left;
                  font-size: $font_size * 2;
                  padding-right: $padding_size;
                  li.active a{
                      color: $color_verde !important;
                  }
              }
          }
      }
  }

  .nav-button {
      display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
      color: $color_amarillo;
      margin-left: $padding_size / 2;
      background-color: $color_gris_oscuro;
      border: $border_size solid $color_gris_oscuro;
      &:hover{
          text-decoration:none;
          color: $color_verde;
          border-bottom: $border_size solid $color_verde;
      }
  }

  .profile{
      font-size: 50%;
  }

/* ==========================================================================
   Css para slideshow
   ========================================================================== */

/* ==========================================================================
   Css para el section
   ========================================================================== */
  main{
    background-color: $color_gris_oscuro;
    padding: $padding_size / 2;
  }

  .findmenu-container{
    width: 100%;
  }

  section{
      display: block;
      background-color: $color_gris_oscuro;
      padding: $padding_size;
      @include border-invisible(2px);
  }
/* ==========================================================================
   Css footer
   ========================================================================== */
   footer {
     color: $color_blanco;
     flex: 2 1 auto;
     align-self: flex-end;
     background-color: $color_gris_claro;
     text-align: center;
     max-height: 10%;
   }
  .footer {
      width: 100%;
      background-color: $color_gris_oscuro;
      border-top: $border_size solid $color_verde;
      .widget-title, .footer .widget-title a {
          font-size: $font_size * 1.5;
          font-weight: 700;
          letter-spacing: $padding_size / 2;
          color: $color_gris;
      }
      .widget-title{
          font-family: 'Satisfy', sans-serif;
          font-size: $font_size;
          color: $color_verde;
      }

      .widget, .footer address {
          color: $color_gris;
          text-transform: none;
          font-style: normal;
      }
  }
  .footer .navigation, .footer .social-list {
      float: none;
  }

  .box_logos *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .box_logos .column {
      display: inline-flex;
      width: 24%;
  }
