.angular-google-map-container {
    height: 400px;
}

.container_maps{
    height: 400px;
    width: 100%;
}

.detailmenu{
  background-clip: border-box;
  background-repeat: no-repeat;
  min-height: 60%;
}

section #menu{
  display: block;
}

#menus .container_maps{
  order: 1;
}

#menus .menus{
  order: 2;
  background-color: rgb(251,173,58);
  margin: 0.5em;
}

#ModalMenuDetails h2 {
    color: #37a000;
    font-size: 32px;
    padding-bottom: 15px;
    font-family: 'Satisfy', sans-serif;
}

#ModalMenuDetails address{
    background-color: RGBA(0, 0, 0, 0.61);
    align-self: flex-end;
    padding: 1em;
}

#ModalMenuDetails address strong {
    color: #FFB03B;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.6em;
}

/* Pantallas tamaño medio */
@media screen and (min-width: 456px) {
  section #menu{
    display: flex;
  }

  #menus .container_maps{
    order: 1;
    width: 55%;
    margin: 1em;
  }

  #menus .menus{
    order: 2;
    margin: 1em;
    width: 40%;
  }
}
