<div class="contact">
    <form id="contact_form" name="contact_form" class="details-holder" novalidate>
        <div class="modal-header">
            <h1><C>CONTACT US</C></h1>
        </div>    
            
        <md-input-container class="md-block">
          <label>Nombre</label>
          <input required name="inputName" ng-model="vm.inputName">
          <div ng-messages="contact_form.inputName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        
        <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email"  name="inputEmail" ng-model="vm.inputEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="contact_form.inputEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
        <div>
         <md-input-container class="md-block">
          <label>Sugerencia</label>
          <md-select name="inputSubject" ng-model="vm.inputSubject" required>
            
                <md-option value="compra">Info relativa a tu compra</md-option>
                <md-option value="evento">Celebra un evento con nosotros</md-option>
                <md-option value="programacion">Contacta con nuestro dpto de programación</md-option>
                <md-option value="Trabaja">Trabaja con nosotros</md-option>
                <md-option value="proyectos">Deseas proponernos proyectos</md-option>
                <md-option value="sugerencias">Haznos sugerencias</md-option>
                <md-option value="reclamaciones">Atendemos tus reclamaciones</md-option>
                <md-option value="club">Club FindMenu</md-option>
                <md-option value="sociales">Proyectos sociales</md-option>
                <md-option value="novedades">Te avisamos de nuestras novedades</md-option>
                <md-option value="diferente">Algo diferente</md-option>
          </md-select>
           <div ng-messages="contact_form.inputSubject.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
           
        </div>   
        
        <md-input-container class="md-block">
          <label>Mensaje</label>
          <textarea required  name="inputMessage" ng-model="vm.inputMessage" md-maxlength="150" rows="5" md-select-on-focus></textarea>
           <div ng-messages="contact_form.inputMessage.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        
        
        <md-button class="md-raised md-primary" type="submit" name="submit" id="submitBtn" value="send" ng-click="vm.SubmitContact()">Enviar</md-button>
        <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
        <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
</div>
</form>
</div>
