sendgridKey=tuapikeysincomillas

facebookID=tuidkeysincomillas
facebookSecret=tusecretkeysincomillas
facebookCalback=http://localhost:3000/auth/facebook/callback

twitterID=tuidkeysincomillas
twitterSecret=tusecretkeysincomillas
twitterCallback=http://localhost:3000/auth/twitter/callback

googleID=tuidkeysincomillas
googleSecret=tusecretkeysincomillas
googleCallback=http://localhost:3000/auth/google/callback
